<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
</ul>

<div id="glossary"></div>
<h2><a href="#glossary">Glossary of Terms</a></h2>
<ul>
  <li>Categories</li>
    <p>Categories are used to organize topic threads and are created by the VaynerNet admins. Topics can only belong to one category (or may be uncategorized). Each category has a short description to help you figure out what types of threads belong there. Categories help you find content relevant to a specific subject or interest. Thinking about getting your brand on Instagram? Check out the Instagram category. Curious about upcoming Flash Lessons? That’s in Events. Have an idea for a new category? Create a topic in the Meta category!</p>
  <li>Topics</li>
    <p>A topic is an individual conversation thread in a category. Anybody can start a topic (except in the events category!) by clicking on the Create Topic button on the top right of the screen. Anybody can then reply in your topic, and you can choose to track the topic such that you are notified of new replies. This should be pretty self-explanatory, but if you want to change the topic, then you should reply as a new topic or start a new topic altogether. Don’t take the conversation in a wildly different direction.</p>
  <li>Posts & Replies</li>
    <p> Replies are essentially posts or comments in a topic. You can reply individually to another person, or you can reply generally to the topic at hand.</p>
  <li>Likes</li>
    <p>We’re not going to tell you not to use “+1” in a reply, but that’s sort of the purpose of liking a reply. So if you think somebody posted something valuable/witty/informative/generally awesome, give it a Like! We keep track of how many Likes you give and receive.</p>
  <li>Platform Overviews</li>
    <p>Each social platform we use at VM has it’s own category, each with a pinned topic with an informative overview from the strategy team. These overviews will be updated from time to time, and are a great place to start if you’re getting on a new platform for your client.</p>
  </ul>  

<div id="setup"></div>
<h2><a href="#setup">Getting Set Up</a></h2>
<ul>
  <li>Real Names</li>
    <p>The first thing you may have noticed when creating your account is that we don’t let you choose a username. While requiring real names in communities on the open internet is an interesting discussion (see Google+ and Facebook), in our situation we feel it’s best to use our real, business appropriate names for ease of use and consistency.</p>
  <li>Avatars</li>  
    <p>Similarly to the real names requirement, we’re asking that you not get all cutesy with your avatar. Please use an image of you where we can see your face. Again, on the open internet it’s another story, but for our professional community, recognition is important. </p>
<li>Email Notifications</li>  
  <p>
  You might also want to set up your email notification preferences. We send two type of emails:
  </p>
  <ul>
    <li>Digest</li>
    <p>You decide whether you want daily, weekly, or biweekly digest emails. These then get sent when you have not visited the site for that amount of time. So if you choose weekly, and don’t come to the site for a whole week, you’ll receive a digest email about threads you’ve missed. We recommend daily digests, as we hope you’ll come by every day, and if not you’ll still catch what's new.</p>
    <li>Notifications</li>
	  <p>By default, we also email you when someone quotes you, replies to you, or @mentions you. BUT - we only email you if you haven’t seen the notification on the site within 10 minutes of it being created. So if you’re actively using the site and get an @mention, you’ll get a notification on site but won’t receive an email. Private Messages use same type of notification/email alert. You can opt out of these emails entirely if you prefer.</p>
	  </ul>
	</ul>  

<div id="navigation"></div>
<h2><a href="#navigation">Navigation</a></h2>
<p>
  Site navigation is primarily accomplished through the top bar nav buttons.
  <ul>
    <li>Latest</li>
      <p>Shows the latest threads that have been posted.</p>
    <li>Popular</li>
      <p>Shows the threads that are popping off as determined by our algorithm.</p>
    <li>New</li>
      <p>Shows topics that have been posted since you last signed in. If a new topic is posted while you are browsing it will show up here. Once you enter the topic it will no longer be new. You can also choose how long topics stay New for you individually via your user settings.</p>
    <li>Unread</li>
      <p>Shows topics that you are tracking or watching that have new replies you have not yet read. You track a topic manually via the button at the bottom of the page, automatically when you spend a lot of time reading the topic, or automatically when you reply to or create a topic.</p>
    <li>Categories</li>
      <p>Shows all of the categories and a few of the most recent topics in each. Good for deep exploration.</p>
    <li>Events</li>
      <p>Shortcut to Events category, where you’ll find Flash Lessons and other VM official events. We put this category front and center because we feel its important that events get as much visibility as possible.</p>
    <li>Favorited</li>
      <p>Shows the threads you’ve favorited by marking the star on the topic. Epic gif dance party thread? You’ll definitely want to come back to that later.</p>
    <li>Directory</li>
      <p>A searchable VaynerMedia directory of employees. Searches against name, team, position, and position abbreviation. For example, you could search for cm Ritz and get back any employees who are community managers and are members of the Ritz team.</p>
  </ul>
<div class="more">
  <p>
  Top Level Icons:
  </p>
  <ul>
    <li>Speech Bubble: Your notifications. A badge counter will show you the unread notifications count.</li>
    <li>Magnifying Glass: Search all of the things! Topics, replies, users, your search query will surface them all.</li>
    <li>Three Lines: Menu. Quick links to categories, the FAQ and other important areas of the site.</li>
    <li>Your Name and Picture: Takes you to your profile page, where you can read your messages, edit your preferences, etc.</li>
    <li>The VM Logo will take you back to the Latest section.</li>
</div>
