@media only screen and (max-device-width: 540px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .d-header {
    width: 320px;
    .contents{ margin: 10px; }
  }
  #topic-title h1, .extra-info-wrapper h1 {
    max-width: 570px;
    display: inline-block;
  }
  .inner{ margin: 10px; }
  .posts-wrapper { margin: 0 18px 0 24px; }
  .span5.gutter { display:none; }
  #topic-progress-wrapper { display: none; }
  .topic-body { width: 780px !important; }
  .topic-post {
    article.boxed {
      .read-icon {
        right: 10% !important;
        }
      }
    }
  .topic-meta-data{
    .post-info{
      line-height: 14px !important;
    }
  }
  #topic-footer-buttons {
    margin: 20px 0 60px 127px !important;
    }
  #suggested-topics {
    display: none;
    # margin: 40px 0 40px 24px !important;
    # width: 880px !important;
  }  
  
  #reply-control {
    .toggle-preview { display:none; }
    #reply-title { width: 250px; }
    .wmd-controls {
      #wmd-input {
        width: 100%;
        border-top: 0;
      }
      .preview-wrapper {
        display: none;
      }
      .textarea-wrapper {
        width: 100%;
      }
      .wmd-button-bar {
        display: none;
      }
    }
  }
}
